# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing & Linting
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# User models & local data
/models/
*.onnx
*.bin
*.spm

# OS & Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

/*.txt